MNEMONIC="satisfy adjust timber high purchase tuition stool faith fine install that you unaware feed domain license impose boss human eager hat rent enjoy dawn"
LOCAL_PUBLIC_ADDRESS=terra1747mad58h0w4y589y3sk84r5efqdev9q4r02pc
REMOTE_PUBILC_ADDRESS=terra1dcegyrekltswvyy0xy69ydgxn9x8x32zdtapd8
SPEND_AMOUNT=1000
LUNA_ENDPOINT_LOCATION=de
LUNA_CHAIN_TYPE=main
RAW_KEY=
EXECUTION_TIMESTAMP=1650222988
